/* GLOBAL */
/* CONFIGURACIÓN GENERAL */
html, body {
    height: 100%;
}

body {
    background-color: black; /* Fondo negro para toda la página */
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER / BANNER */
.header-banner {
    width: 100%;
    height: 180px; 
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #333; /* línea que separa del menú */
}

.img-banner {
    max-width: 90%;        /* Para que el logo no toque los bordes */
    max-height: 80%;       /* Altura máxima para que no se deforme */
    object-fit: contain;   /* Mantiene la proporción del logo */
}

/* CARRUSEL */
.carousel-item {
    height: 400px;         /* alto del carrusel */
    background-color: #111;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;     /* La imagen del carrusel llena el espacio */
}

/* CATÁLOGO DE PRODUCTOS */
.img-producto {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 10px;
    background-color: white;
}

.card {
    transition: transform 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.03);
}

/* Títulos en blanco para que resalten sobre el fondo negro */
h2 {
    color: white;
}

/* ========================= */
/* SOBRE NOSOTROS */
/* ========================= */

.sobre-nosotros {
  min-height: 100vh;
}

/* SOLO afecta esta sección */
.sobre-nosotros .row {
  margin: 0;
}

/* IZQUIERDA */
.lado-izquierdo {
  background: linear-gradient(135deg, #0f3d0f, #000000);
  color: white;
  min-height: 100vh;
}

.titulo-izquierdo {
  font-size: 3rem;
  font-weight: bold;
}

/* DERECHA */
.lado-derecho {
  background: #f8f9fa;
  min-height: 100vh;
  padding: 40px;
}

/* TEXTO */
.contenido-texto {
  max-width: 500px;
  margin: auto;
}

.titulo-derecho {
  font-weight: bold;
  margin-bottom: 20px;
}

.contenido-texto p {
  line-height: 1.6;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form-control:focus {
    background-color: #333 !important;
    color: white;
    border: 1px solid #198754;
    box-shadow: none;
}